<div class="container mt-4">
    <div class="mb-3">
        <input type="text" id="searchInput" class="form-control" placeholder="Tìm ghi chú...">
    </div>
    <ul id="searchResults" class="list-group d-none"></ul>
</div>

<script src="templates/particals/js/search.js" defer></script>