<link rel="stylesheet" href="templates/style/new_note.css">

<div class="mb-3 text-center m-2">
    <button type="button"
        class="btn btn-secondary rounded-circle d-flex justify-content-center align-items-center mx-auto"
        style="font-size: 2rem; width: 60px; height: 60px;" id="new-note" data-email="{{ email }}">
        +
    </button>
</div> 