<div class="container my-4">
    <h3 class="mb-4 text-primary">Ghi chú được chia sẻ với bạn</h3>
    <div id="sharedNotesContainer" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <!-- Ghi chú chia sẻ sẽ được render tại đây -->
    </div>
</div